/* CSS */

@font-face {
	font-family: "NotoSans";
	src: url("../fonts/NotoSansJP-Medium.otf") format("opentype");
}

@font-face{
	font-family: "Nicokaku-v2";
	src: url("../fonts/nicokaku_v2.ttf");
}

html, body{
	margin: 0px; padding: 0px;
	font-family: "NotoSans"; font-size: 1.0rem;
	/*user-select:none;*/
}

header{
	font-family: "Nicokaku-v2";
}

header i{
	font-size: 1.2rem;
}

header .active{
	border-radius: 0px 0px 10px 10px !important;
}

main{
	margin: 80px 0px 80px 0px !important;
	font-family: "Nicokaku-v2";
}

footer{
	pointer-events: none;
}

footer div{
	pointer-events: auto;
}

footer a{
	width: 4.2rem; height: 4.2rem;
	position: relative;
	pointer-events: auto;
}

footer a i{
	position: absolute;
	left: calc(50% - 1.0rem); top: 14%;
	font-size: 2.0rem;
}

.navbar-brand{
	margin-right: 0px !important; 
}

.navbar-toggler:focus{
	outline: none !important;
	box-shadow: none !important;
}

.toast-container{
	position: fixed !important; 
	pointer-events: none;
	top: 0px; right: 0px;
}

.toast:not(.showing):not(.show){
	display: none !important;
}

/* PiyoMobile */

#logo-title-1{
	font-family: "Nicokaku-v2"; font-size: 4.0rem;
	line-height: 0.8;
}

#logo-title-2{
	font-family: "Nicokaku-v2"; font-size: 3.0rem;
	line-height: 0.8;
}